USE [master]
GO
/****** Object:  Database [Empresa.PIM]    Script Date: 02/09/2025 22:49:11 ******/
CREATE DATABASE [Empresa.PIM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empresa.PIM', FILENAME = N'C:\Users\guguh\Empresa.PIM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Empresa.PIM_log', FILENAME = N'C:\Users\guguh\Empresa.PIM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Empresa.PIM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Empresa.PIM]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/09/2025 22:49:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
